json5
numpy
transformers
spacy
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.5.0/en_core_web_trf-3.5.0-py3-none-any.whl
gunicorn
flask
xformers
torch
GitPython
paramiko
cupy-cuda12x
#cupy